:root {
    --primario: rgb(199, 36, 36);
    --secundario: rgb(199, 123, 36);
    --secundario-claro: rgb(224, 170, 71);
  }

html {
    box-sizing: border-box;
    height: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Roboto', sans-serif;
}
h2 {
    text-align: center;
}
.contenedor {
    width: 80%;
    margin: 0 auto;
}
.text-gradient {
    background: var(--primario);
    background: linear-gradient(90deg, var(--primario) 36%, var(--secundario) 65%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*HEADER*/
.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}
header h1 {
    display: inline-block;
}
.botones {
    margin-top: 2rem;
}
.botones a {
    margin-right: 5px;
    padding: 1rem;
    border: none;
    background: var(--primario);
    border-radius: 10px;
    color: rgb(255, 255, 255, .7);
    cursor: pointer;
    transition: .3s;
    text-decoration: none;
}
.botones button:hover, .botones a:hover {
    background: var(--secundario);
    color: #fff;
}
@media (max-width: 750px) {
    header {
        flex-direction: column;
    }
    header h1 {
        display: block;
        margin-bottom: 1rem;
    }
    .botones button, .botones a {
        display: block;
        margin: .25rem 0;
        width: 100%;
    }
    .botones:last-child {
        margin-bottom: 1rem;
    }
}

/** LOGIN **/
.contenedor-formulario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    color: #fff;
}
.contenedor-formulario h1 {
    text-align: center;
    color: var(--primario);
}
.contenedor-formulario h1  span{
    font-weight: 400;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}
.caja-login {
    background-color: var(--secundario-claro);
    border-radius: 10px;
    width: 350px;
    height: 450px;
    margin: 0 auto;
    min-height: 300px;
    -webkit-box-shadow: 0px 25px 35px -17px rgba(0,0,0,0.56);
    -moz-box-shadow: 0px 25px 35px -17px rgba(0,0,0,0.56);
    box-shadow: 0px 25px 35px -17px rgba(0,0,0,0.56);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.campo {
    display: flex;
    margin-bottom: .5rem;
    align-items: center;
}
.campo-enviar {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.campo input[type="text"],
.campo input[type="password"],
.campo input[type="email"],
.campo input[type="number"],
.campo input[type="phone"],
.campo select    {
    height: 2.5rem;
    border: 0;
    flex: 1;
    border-left: 10px solid var(--primario);
    padding-left: 1rem;
    overflow: hidden;
    transition: all .3s ease;
}
.campo input[type="text"]:focus,
.campo input[type="password"]:focus,
.campo input[type="email"]:focus,
.campo input[type="number"]:focus,
.campo input[type="phone"]:focus,
.campo select {
    outline: none;
    background: #e2e0cb;
}
@media only screen and (max-width: 500px) {
    .boton-formulario {
        flex: 1;
    }
}
.enviar {
   justify-content: space-between;
}
.boton-formulario {
    background-color: #FDD835;
    text-align: center;
    transition: background-color .5s ease-in-out;
    display: block;
    padding: 1rem;
    text-transform: uppercase;
    border: none;
    font-weight: 900;
    overflow: hidden;
    font-size: .8rem;
}
.boton-formulario:hover {
    cursor: pointer;
    background-color: rgb(219, 184, 29)!important;
}
.campo a {
    color: #3a4ea7;
    text-decoration: none;
    transition: .3s;
}
.campo a:hover {
    transform: scale(1.1);
    color: #FDD835;
}

/* FORMULARIO ACTIVIDADES */
#form-actividad {
    background: #c5c5c5;
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    max-width: 60%;
    align-items: center;
    margin: 4rem auto;
}
.campo-actividad {
    width: 100%;
    display: flex;
    justify-content: center;
}
#form-actividad input[type="text"],
#form-actividad textarea,
#form-actividad .selects select {
    width: 80%;
    border: none;
    padding: .5rem;
    margin-bottom: .5rem;
}
#form-actividad input[type="text"]:focus,
#form-actividad textarea:focus,
#form-actividad .selects select {
    outline: none;
    background: #e2e0cb;
}
.selects {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

/* LISTA DE ACTIVIDADES */

.cont-actividad {
    width: 80%;
    background: rgb(182, 182, 182);
    padding: 2rem;
    border-radius: 10px;
    margin: 0 auto 4rem auto;
}
.header-actividad {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}
.botones-actividad {
    display: flex;
    justify-content: flex-end;
}
.botones-actividad a {
    margin-left: 1rem;
    font-size: 1.5rem;
    transition: .3s;
}
.botones-actividad a:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.botones-actividad a.edit {
    color:rgb(221, 191, 57);
}
.botones-actividad a.delete {
    color: rgb(216, 45, 45);
}

/*FOOTER*/
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #bdbdbd;
    height: 6rem;
    font-size: 1.1rem;
}

@media only screen and (max-width: 500px) {
    footer {
        flex-direction: column;
        height: 10rem;
    }
}

/* SECCIONES */
#contenedor-secciones h2 {
    background: var(--primario);
    padding: .7rem;
    border-bottom: 10px solid #910a0a;
}
#contenedor-secciones {
    background: #cacaca;
    padding-bottom: 3rem;
}
table {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    border-collapse: collapse;
}
th, td {
    padding: .5rem;
}
th {
    background: var(--secundario);
}